#id_onenigth_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 456px;
    height: 140px;
    border-width: 1px;
    background: rgba(251, 248, 243, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: initial;
}
            
            
            
        