.cargando {
  height: 18px;
  letter-spacing: 0.00px;
  margin-top: 8px;
  min-height: 18px;
  min-width: 89px;
  text-align: center;
}
.imac-1 {
  align-items: flex-end;
  background-color: var(--sugar-cane);
  display: flex;
  flex-direction: column;
  padding: 294px 594px;
}
.rectangle-42 {
  align-self: center;
  height: 40px;
  width: 40px;
}
