#id_sixzerotwoo_sevenoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(245, 223, 77, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsixone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 400px;
    top: 74px;
    border-width: 1px;
    border-radius: 18px;
    background: rgba(0, 7, 11, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 640px;
    height: 96px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(0, 7, 11, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_nigthfoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 217.78762817382812px;
    height: 44.485877990722656px;
    left: 194px;
    top: 39px;
    border-width: 1px;
}

#id_sixzerotwoo_nigthfournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 44.10634994506836px;
    height: 44.0753288269043px;
    left: 0px;
    top: 0.41054731607437134px;
    border-width: 1px;
}

#id_sixzerotwoo_nigthfivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 44.10634994506836px;
    height: 44.0753288269043px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_sixzerotwoo_nigthfiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 39px;
    height: 44px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthfivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 6px;
    left: 28.875093460083008px;
    top: 35.0435905456543px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthfivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 15px;
    left: 27.111658096313477px;
    top: 10.459244728088379px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthfivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 6px;
    height: 8px;
    left: 34.76283645629883px;
    top: 24.064664840698242px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthfivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 165.86001586914062px;
    height: 23.44930648803711px;
    left: 51.92760467529297px;
    top: 21.0206356048584px;
    border-width: 1px;
}

#id_sixzerotwoo_nigthfivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 31px;
    height: 23px;
    left: 0.0000206634995265631px;
    top: 0.033168356865644455px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_nigthfiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 33.94391632080078px;
    top: 0.000006745157406840008px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_nigthfiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36px;
    height: 23px;
    left: 62.08232116699219px;
    top: 0.033497318625450134px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_nigthfivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 30px;
    height: 23px;
    left: 98.81149291992188px;
    top: 0.033497318625450134px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_nigthsixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36px;
    height: 23px;
    left: 129.81898498535156px;
    top: 0.033497318625450134px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_nigthsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 164.26605224609375px;
    height: 17.168241500854492px;
    left: 49.24299621582031px;
    top: 0px;
    border-width: 1px;
}

#id_sixzerotwoo_nigthsixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 17px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 17px;
    left: 23.926881790161133px;
    top: 0.000001762942929417477px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 16px;
    left: 48.1724739074707px;
    top: 0.40199172496795654px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 17px;
    left: 72.83748626708984px;
    top: 0.000001762942929417477px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 19px;
    height: 16px;
    left: 97.09998321533203px;
    top: 0.43549948930740356px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 16px;
    left: 119.66764831542969px;
    top: 0.41843628883361816px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_nigthsixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 16px;
    left: 142.6884002685547px;
    top: 0.41874560713768005px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_sixzerotwoo_eightsixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 640px;
    height: 32px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 12px;
}

#id_sixzerotwoo_eightsixnigth_four_fivezeronigth {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 23px;
    line-height: 36px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
}

#id_sixzerotwoo_eightsixnigth_four_fiveonezero {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
}

#id_sixzerotwoo_eightsevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 24px;
    padding-left: 116px;
    padding-right: 116px;
    padding-top: 24px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 10px;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 24px;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    background: rgba(255, 199, 224, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(https://cdn.uncodie.com/gY43rKwgL3vhrBhphUZrML/ce8679518ec10e6fb637c05623568d1fc8e3dcca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 242, 185, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_sixzerotwoo_onezerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 12px;
}

#id_sixzerotwoo_onezerofivetwoo {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    white-space: break-spaces;
    line-height: 36px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 12px;
}

#id_sixzerotwoo_eightsevenone_three_four {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    white-space: break-spaces;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_onezerofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_onezerofournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 345px;
    height: 48px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 48px;
    background: rgba(245, 223, 77, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_onezerofivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 329px;
    height: 24px;
    left: 8px;
    top: 12px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_eightseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 12px;
}

#id_sixzerotwoo_eightseventhree_seven_onenigthsevenfour {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 640px;
    height: 32px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(191, 192, 195, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 172px;
    padding-right: 172px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfive_five_eightfourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 24px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 6px;
    left: 13.7705078125px;
    top: 6.22119140625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 19px;
    height: 7px;
    left: 43.455078125px;
    top: 6.54541015625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 38px;
    height: 6px;
    left: 41.582000732421875px;
    top: 6.904498100280762px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 16px;
    left: 41.28055953979492px;
    top: 17.101131439208984px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23.15129852294922px;
    height: 25.732532501220703px;
    left: 10.04378604888916px;
    top: 7.1515092849731445px;
    border-width: 18.518518447875977px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 13px;
    height: 24px;
    left: 0px;
    top: 0.3526639938354492px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 10px;
    height: 8px;
    left: 12.956696510314941px;
    top: 8.64989185333252px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 0.02419900894165039px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 8px;
    left: 0.4018268585205078px;
    top: 16.946964263916016px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 16px;
}

#id_sixzerotwoo_eightsevensix_four_fivefivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 8px;
}

#id_sixzerotwoo_eightsevensix_three_fournigth {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: 32px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
    display: none;
}

#id_sixzerotwoo_eightsevensix_four_fivefivefour {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivethreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_sixzerotwoo_eightsevensix_four_fivetwoonigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivethreezero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivefourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 37px;
    height: 16px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
    display: none;
}

#id_sixzerotwoo_eightsevensix_four_fivefivethree {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenseven_onetwoozerofive_threezeronigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-self: stretch;
    height: 16px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenseven_onetwoozerofive_threezeronigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 608px;
    height: 1px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#id_sixzerotwoo_eightsixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 640px;
    height: 32px;
    overflow: hidden;
    left: 0px;
    top: 96px;
    border-width: 1px;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 0px;
    top: 155px;
    border-width: 1px;
    display: none;
    row-gap: 12px;
}

#id_sixzerotwoo_eightsixnigth_four_fivezeronigth {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 23px;
    line-height: 36px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
}

#id_sixzerotwoo_eightsixnigth_four_fiveonezero {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
}

#id_sixzerotwoo_eightsevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 24px;
    padding-left: 116px;
    padding-right: 116px;
    padding-top: 24px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 144px;
    top: 128px;
    border-width: 1px;
    row-gap: 10px;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 24px;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    background: rgba(255, 199, 224, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(https://cdn.uncodie.com/gY43rKwgL3vhrBhphUZrML/ce8679518ec10e6fb637c05623568d1fc8e3dcca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 242, 185, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 0px;
    top: 400px;
    border-width: 1px;
    row-gap: 12px;
}

#id_sixzerotwoo_eightsevenone_three_four {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    white-space: break-spaces;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 0px;
    top: 608px;
    border-width: 1px;
    row-gap: 12px;
}

#id_sixzerotwoo_eightseventhree_seven_onenigthsevenfour {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 640px;
    height: 32px;
    overflow: hidden;
    left: 0px;
    top: 672px;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(191, 192, 195, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 172px;
    padding-right: 172px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 80px;
    top: 704px;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfive_five_eightfourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 24px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 6px;
    left: 13.7705078125px;
    top: 6.22119140625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 19px;
    height: 7px;
    left: 43.455078125px;
    top: 6.54541015625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 38px;
    height: 6px;
    left: 41.582000732421875px;
    top: 6.904498100280762px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 16px;
    left: 41.28055953979492px;
    top: 17.101131439208984px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23.15129852294922px;
    height: 25.732532501220703px;
    left: 10.04378604888916px;
    top: 7.1515092849731445px;
    border-width: 18.518518447875977px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 13px;
    height: 24px;
    left: 0px;
    top: 0.3526639938354492px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 10px;
    height: 8px;
    left: 12.956696510314941px;
    top: 8.64989185333252px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 0.02419900894165039px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 8px;
    left: 0.4018268585205078px;
    top: 16.946964263916016px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 0px;
    top: 792px;
    border-width: 1px;
    row-gap: 16px;
}

#id_sixzerotwoo_eightsevensix_four_fivefivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 8px;
}

#id_sixzerotwoo_eightsevensix_three_fournigth {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: 32px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(20, 24, 31, 1);
    display: none;
}

#id_sixzerotwoo_eightsevensix_four_fivefivefour {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivethreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_sixzerotwoo_eightsevensix_four_fivetwoonigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivethreezero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevensix_four_fivefourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 37px;
    height: 16px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.59999942779541px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
    display: none;
}

#id_sixzerotwoo_eightsevensix_four_fivefivethree {
    box-sizing: border-box;
    display: flex;
    width: 536px;
    height: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    align-content: center;
    width: 640px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: 0px;
    top: 888px;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenseven_onetwoozerofive_threezeronigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-self: stretch;
    height: 16px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenseven_onetwoozerofive_threezeronigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 608px;
    height: 1px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsixseven_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefourfour_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-radius: 120px;
    background: rgba(255, 199, 224, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(https://cdn.uncodie.com/gY43rKwgL3vhrBhphUZrML/ce8679518ec10e6fb637c05623568d1fc8e3dcca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoursix_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 242, 185, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: 288px;
    top: 0px;
    border-width: 1px;
    border-radius: 120px;
    display: none;
}

#id_sixzerotwoo_eightsevenzero_four_oneonefoureight_onetwoozerothree_onetwoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 544px;
    height: 0px;
    left: 48px;
    top: 15.5px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sixzerotwoo_eightsevenfour_five_eightfivethree_onetwoozerotwoo_onesixsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 544px;
    height: 0px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(191, 192, 195, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
    display: none;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 6px;
    left: 13.7705078125px;
    top: 6.22119140625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreetwoo_five_eightonefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 19px;
    height: 7px;
    left: 43.455078125px;
    top: 6.54541015625px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 40px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightoneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 38px;
    height: 6px;
    left: 41.582000732421875px;
    top: 6.904498100280762px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eightonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 16px;
    left: 41.28055953979492px;
    top: 17.101131439208984px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23.15129852294922px;
    height: 25.732532501220703px;
    left: 10.04378604888916px;
    top: 7.1515092849731445px;
    border-width: 18.518518447875977px;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 13px;
    height: 24px;
    left: 0px;
    top: 0.3526639938354492px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 10px;
    height: 8px;
    left: 12.956696510314941px;
    top: 8.64989185333252px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 12px;
    left: 0.4018268585205078px;
    top: 0.02419900894165039px;
    border-width: 0px;
    fill: ;
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 8px;
    left: 0.4018268585205078px;
    top: 16.946964263916016px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 12.848488807678223px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_sixzerotwoo_eightsevenfive_five_eightthreeone_five_eighttwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_sixzerotwoo_eightsevenseven_onetwoozerofive_threezeronigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 608px;
    height: 1px;
    left: 0px;
    top: 0px;
    border-width: 1px;
    background: rgba(191, 192, 195, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
            
        
            















































































        