#id_twoo_five {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1451px;
    height: 1439px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_threefourtwoo_oneeighttwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1162px;
    height: 278px;
    left: 155px;
    top: 310px;
    border-width: 1px;
    background: rgba(0, 7, 11, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    object-position: initial;
}

#id_threefourtwoo_oneeighttwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1366px;
    height: 336px;
    overflow: hidden;
    left: 57px;
    top: 310px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightthreeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 729px;
    height: 179px;
    overflow: hidden;
    left: 282px;
    top: 43px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightthreetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 692.699951171875px;
    height: 141.49269104003906px;
    left: 17.087778091430664px;
    top: 20.51041603088379px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightthreethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140.28553771972656px;
    height: 140.1868896484375px;
    left: 4.5240187773742946e-7px;
    top: 1.3057947158813477px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightthreefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140.28553771972656px;
    height: 140.1868896484375px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightthreefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 126px;
    height: 140px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightthreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 21px;
    left: 91.84078979492188px;
    top: 111.46038055419922px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightthreeseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 54px;
    height: 48px;
    left: 86.23169708251953px;
    top: 33.266944885253906px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightthreeeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 19px;
    height: 28px;
    left: 110.56726837158203px;
    top: 76.54061889648438px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightthreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 527.5377197265625px;
    height: 74.58333587646484px;
    left: 165.16221618652344px;
    top: 66.85863494873047px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 100px;
    height: 74px;
    left: -0.000003814697265625px;
    top: 0.1050712913274765px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threefourtwoo_oneeightfourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 74px;
    left: 107.96244049072266px;
    top: -0.000003360566552146338px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threefourtwoo_oneeightfourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 114px;
    height: 74px;
    left: 197.45974731445312px;
    top: 0.10654263198375702px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threefourtwoo_oneeightfourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 96px;
    height: 74px;
    left: 314.2812194824219px;
    top: 0.10654263198375702px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threefourtwoo_oneeightfourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 114px;
    height: 74px;
    left: 412.904296875px;
    top: 0.10654263198375702px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threefourtwoo_oneeightfourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 522.4678955078125px;
    height: 54.605655670166016px;
    left: 156.623291015625px;
    top: 6.35782896551973e-7px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 71px;
    height: 54px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 71px;
    height: 54px;
    left: 76.10205078125px;
    top: -2.1316282072803006e-14px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 71px;
    height: 52px;
    left: 153.21820068359375px;
    top: 1.2785722017288208px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 71px;
    height: 54px;
    left: 231.6682891845703px;
    top: -2.1316282072803006e-14px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 60px;
    height: 52px;
    left: 308.83782958984375px;
    top: 1.3851182460784912px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 69px;
    height: 52px;
    left: 380.6170959472656px;
    top: 1.3309084177017212px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 68px;
    height: 52px;
    left: 453.83734130859375px;
    top: 1.3318452835083008px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 870px;
    height: 214px;
    overflow: hidden;
    left: 165px;
    top: 989px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 826.678955078125px;
    height: 169.1588592529297px;
    left: 20.392822265625px;
    top: 24.520832061767578px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 167.41896057128906px;
    height: 167.5977325439453px;
    left: -9.383149972563842e-7px;
    top: 1.5611181259155273px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 167.41896057128906px;
    height: 167.5977325439453px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightfiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 150px;
    height: 167px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 25px;
    left: 109.60424041748047px;
    top: 133.2543182373047px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightfivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 64px;
    height: 57px;
    left: 102.9102554321289px;
    top: 39.77165603637695px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 33px;
    left: 131.9527130126953px;
    top: 91.50666046142578px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 629.5717163085938px;
    height: 89.16666412353516px;
    left: 197.107177734375px;
    top: 79.93154907226562px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightsixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 119px;
    height: 89px;
    left: 1.798107967859383e-14px;
    top: 0.1256197988986969px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_threefourtwoo_oneeightsixthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 104px;
    height: 89px;
    left: 128.8440704345703px;
    top: -1.816522114950203e-7px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_threefourtwoo_oneeightsixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 89px;
    left: 235.6515350341797px;
    top: 0.12737883627414703px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_threefourtwoo_oneeightsixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 115px;
    height: 89px;
    left: 375.0680847167969px;
    top: 0.12737883627414703px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_threefourtwoo_oneeightsixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 89px;
    left: 492.7664489746094px;
    top: 0.12737883627414703px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_threefourtwoo_oneeightsixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 623.5214233398438px;
    height: 65.2827377319336px;
    left: 186.91668701171875px;
    top: 0.000001271565793103946px;
    border-width: 1px;
}

#id_threefourtwoo_oneeightsixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 65px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsixnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 65px;
    left: 90.82138061523438px;
    top: -4.2226889573979826e-14px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 62px;
    left: 182.85299682617188px;
    top: 1.5285723209381104px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsevenone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 65px;
    left: 276.4765625px;
    top: -4.2226889573979826e-14px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightseventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 72px;
    height: 62px;
    left: 368.5718994140625px;
    top: 1.6559513807296753px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightseventhree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 83px;
    height: 62px;
    left: 454.234375px;
    top: 1.591141939163208px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 81px;
    height: 62px;
    left: 541.6165771484375px;
    top: 1.5922619104385376px;
    border-width: 0px;
    fill: rgba(245, 223, 77, 1);
}

#id_threefourtwoo_oneeightsevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 897px;
    height: 220px;
    overflow: hidden;
    left: 138px;
    top: 692px;
    border-width: 1px;
}

#id_sixzerotwoo_seventhreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 852.33447265625px;
    height: 173.90162658691406px;
    left: 159.025634765625px;
    top: 717.2083129882812px;
    border-width: 1px;
}

#id_sixzerotwoo_sevenfourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 172.61471557617188px;
    height: 172.29673767089844px;
    left: 4.6636489514639834e-7px;
    top: 1.6048839092254639px;
    border-width: 1px;
}

#id_sixzerotwoo_sevenfourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 172.61471557617188px;
    height: 172.29673767089844px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_sixzerotwoo_sevenfourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 155px;
    height: 172px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 33px;
    height: 25px;
    left: 113.0057373046875px;
    top: 136.99041748046875px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 66px;
    height: 59px;
    left: 106.1040267944336px;
    top: 40.886749267578125px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 23px;
    height: 34px;
    left: 136.04779052734375px;
    top: 94.072265625px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 649.1101684570312px;
    height: 91.66666412353516px;
    left: 203.2242889404297px;
    top: 82.17261505126953px;
    border-width: 1px;
}

#id_sixzerotwoo_sevenfourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 123px;
    height: 91px;
    left: 0.0000095367431640625px;
    top: 0.12914349138736725px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 107px;
    height: 91px;
    left: 132.84268188476562px;
    top: 0.0000014532180330206756px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 141px;
    height: 91px;
    left: 242.96487426757812px;
    top: 0.13095183670520782px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 118px;
    height: 91px;
    left: 386.7081604003906px;
    top: 0.13095183670520782px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 141px;
    height: 91px;
    left: 508.0591735839844px;
    top: 0.13095183670520782px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 642.8720703125px;
    height: 67.11309814453125px;
    left: 192.71754455566406px;
    top: -0.000002543131586207892px;
    border-width: 1px;
}

#id_sixzerotwoo_sevenfivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 67px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 67px;
    left: 93.63997650146484px;
    top: 6.906492521982499e-14px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 63px;
    left: 188.5277557373047px;
    top: 1.57142972946167px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 67px;
    left: 285.0568542480469px;
    top: 6.906492521982499e-14px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 75px;
    height: 63px;
    left: 380.0103454589844px;
    top: 1.702379822731018px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 86px;
    height: 63px;
    left: 468.3313293457031px;
    top: 1.6357531547546387px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}

#id_sixzerotwoo_sevenfivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 63px;
    left: 558.4253540039062px;
    top: 1.6369048357009888px;
    border-width: 0px;
    fill: rgba(0, 7, 11, 1);
}
            
            




































































        