.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-body {
  flex: 1;
}

.header-test {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: white;
}
