@import url('https://fonts.googleapis.com/css?family=Inter:600,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:700,400');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button{
  background-color: transparent;
}
.App-link {
  color: #61dafb;
}

.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
#root{
  width:100% !important;
  min-height: 100% !important;
}
#root > *{
  width:100vw !important;
  min-height: 100vh !important;
}

textarea, input, button, select { 
  font-family: inherit; 
}

.content > * {
  width: 100% !important;
  height: 100% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dissolve-appear {
  opacity: 0.01;
}

.dissolve-appear.dissolve-appear-active {
  opacity: 1;
  transition: opacity ;
}

.dissolve-enter {
  opacity: 0;
}
.dissolve-enter-active {
  opacity: 1;
  transition: opacity ;
}
.dissolve-exit {
  opacity: 1;
}
.dissolve-exit-active {
  opacity: 0;
  transition: opacity ;
}


.move-in-left-appear {
  transform: translateX(100%);
}

.move-in-left-appear.move-in-left-appear-active {
  transform: translateX(0%);
  transition: transform ;
}


.move-in-left-enter {
  transform: translateX(100%);
}
.move-in-left-active {
  transform: translateX(0%);
  transition: transform ;
}
.move-in-left-exit {
  transform: translateX(0%);
}
.move-in-left-exit-active {
  transform: translateX(100%);
  transition: transform ;
}

/*move right*/
.move-in-right-appear {
  transform: translateX(-100%);
}

.move-in-right-appear.move-in-right-appear-active {
  transform: translateX(0%);
  transition: transform ;
}


.move-in-right-enter {
  transform: translateX(-100%);
}
.move-in-right-active {
  transform: translateX(0%);
  transition: transform ;
}
.move-in-right-exit {
  transform: translateX(0%);
}
.move-in-right-exit-active {
  transform: translateX(-100%);
  transition: transform ;
}


